<div class='container-error'>
  <h1 class='titulo-error'>¡Upsi! Algo salió mal…</h1>
  {{error}}
  <br />

  <div class='info-childsbutton'>
    <a href='/auth/login'><button>ir a Login</button></a>
  </div>
  <br />
  <div class='info-childsbutton'>
    <a href='/products'><button>ir a Productos</button></a>
  </div>
</div>